.border {
    border: 5px solid greenyellow;
    margin:auto;
    width: 90%;
    height: 10%;
    text-align: center;
    box-shadow: 5px 3px 3px gray;
    background-color: white;
  }
  .centext{
    text-align: center;
  }
  .my_btn {
    color: white;
    width: 100%;
    margin: auto;
    font-size: 100px;
  }
  .btsty{
    position: relative;
    border: none;
    display: inline-block;
    padding: 15px 30px;
    border-radius: 15px;
    font-family: "paybooc-Light", sans-serif;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-weight: 600;
    transition: 0.25s;
}
